
@import url('https://fonts.googleapis.com/css2?family=Squada+One&display=swap');

.container-empresa{
    .faixa-cima{
        display: flex;
        align-items: center;
        justify-content: center;

        padding: 5px;
        gap: 10px;
        
        font-family: Squada One;
        font-size: 22px;
        font-weight: 400;
    }

}