@import url('https://fonts.googleapis.com/css2?family=Squada+One&display=swap');

.container-empresa{
    font-family: "Squada One";
    .container-sobre-nos{
        background-color: #fcfcfc;

        display: flex;
        justify-content: center;

        .simbolos{
            display: flex;
            // margin-top: 20%;
            padding: 10% 0px 10% 0px;
            position: relative;

            img{
                display: flex;
                position: absolute;
                width: 60px;
            }
            .html{
                display: flex;
                bottom: 180px;
                left: -50px;
            }
            .nuvem{
                display: flex;
                bottom: 170px;
                left: 40%;

                width: 80px;
            }
            .bd{
                display: flex;
                bottom: 170px;
                right: -70px;
            }
            .js{
                display: flex;
                top:200px;
                width: 100px;
            }
            .css{
                display: flex;
                top:200px;
                right: 0px;
            }
        }
    }
}
