@import url('https://fonts.googleapis.com/css2?family=Squada+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');



.container-empresa{
    position: relative;


    .wpp {
        position: fixed;    
        bottom: 2%;       
        right: 2%;
        width: 50px;        
      }

    .topo{
        position: fixed;
        bottom: 2%;
        left: 1%;
        width: 70px;
        background-color: transparent;
        border: none;
        
        img{
            display: flex;
            width: 70%;
        }
    }

    .container-sobre-nos{
        display: flex;
        justify-content: center;
        // background-image:url(../assets/background-site.png) ;


        .simbolos{
            display: flex;
            padding: 10% 0% 10% 0%;
            position: relative;
            font-family: "Squada One";
            z-index: 0;


            img{
                display: flex;
                position: absolute;
                width: 13%;
            }
            .html{
                display: flex;
                top: 20%;
                left: -20%;
                right: 0%;
                bottom: 100%;
            }
            .nuvem{
                display: flex;
                top: 16%;
                left: 40%;
                bottom: 0%;
                right: 0%;
                width: 18%;
            }
            .bd{
                display: flex;
                top: 20%;
                right: -15%;
                bottom: 0%;
            }
            .js{
                display: flex;
                bottom:20%;
                right: 0%;
                left: 0%;
                top: 65%;
                width: 22%;
            }
            .css{
                display: flex;
                top:65%;
                bottom:20%;
                right: 0%;
                left: 80%;
                right: 0%;
            }
        }
    }

    .sobre-nos{
        display: flex;
        font-family: "Roboto";
        font-weight: 400;
        align-items: center;
        justify-content: center;

        
        .informacoes{
            z-index: 1;
            display: flex;
            font-family: "Roboto";
            font-weight: 400;    
            justify-content: center;
            align-items: center;
            flex-direction: column;
            gap: 20px;
            margin-bottom: 3%;

            div{
                width: 57%;
                font-size: 112%;
            }
        }
    }

    .componente-3{
        // margin-top: 30px;
        .container-propostas{
            display: flex;
            font-family: "Roboto";
            background: linear-gradient(#000000, #262626, #666666);
            color: white;
            justify-content: center;
            align-items: center;
            padding: 4%;

            gap: 30px;
            flex-direction: column;

            .cartoes{
                display: flex;
                .card{
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    gap: 15px;

                    p{
                    width: 350px;
                    text-align: center;
                    font-size: 15px;
                    }
                    img{
                        width:23%;
                    }
                }

         
            }

        }
    }

    .maps{
        display: flex;
        align-items: center;
        justify-content: end;
        margin: 5% 2% 5% 2%;
        height: 500px;

        iframe{
            display: flex;
            width: 100%;
            height: 100%;
        }
    }
    .feedback{
        
        display: flex;
        justify-content: center;
        margin-top:2% ;
        flex-direction: column;
        align-items: center;

        gap: 20px;

        .container-feed{
            display: flex;
            flex-wrap: wrap;
            width: 100%;
            gap: 20px;

            justify-content: center;
            
        }
        .titulo{
            display: flex;
            justify-content: center;
        }

        .card{
            display: flex;
            width: 25%;
            flex-direction: column;
            padding: 1.2%;
            gap: 10px;
            border: 1px solid #8B8B8B;
            align-items: center;
            margin-left: 2%;
            border-radius: 2%;





            .local{
                display: flex;
                flex-direction: column;
                font-weight: 600;
                color: #8B8B8B;
            }
            .nome{
                display: flex;
                font-family: "Roboto";
                font-weight: 600;
                color: #8B8B8B;
            }
            .comentario{
                display: flex;
                font-family: "Roboto";
                font-weight: 600;
                width: 100%;
                color: #8B8B8B;
            }
        }
        .card:hover{
            display: flex;
            gap: 5px;
            box-shadow: -5px 5px 15px black;
            
            
            .local{
                display: flex;
                flex-direction: column;
                font-weight: 600;
                color: #000000;
            }
            .nome{
                display: flex;
                font-family: "Roboto";
                font-weight: 600;
                color: #000000;
            }
            .comentario{
                display: flex;
                font-family: "Roboto";
                font-weight: 600;
                width: 100%;
                color: #000000;
            }

       
        }
        
        h2{
            font-family: "Roboto";
        }
    }

        .rodapé{
            display: flex;
            background-color: #1E1E1E;
            color: #ffffff;

            font-family: "Roboto";
            font-weight: 400;

            padding: 2%;
            justify-content: space-between;


            .info-contato{
                display: flex;
                margin-left: 2%;
                flex-direction: column;
                gap: 15px;
            }

            .plataformas{
                display: flex;
                margin-right: 5%;
                flex-direction: column;
                gap: 20px;

                .imagens{
                    display: flex;
                    gap: 5px;   

                    .face:hover{
                        display: flex;
                        box-shadow: -2px 2px 15px brown;
                    }
                    .tw:hover{
                        display: flex;
                        box-shadow: -2px 2px 15px brown;
                    }
                    .insta:hover{
                        display: flex;
                        box-shadow: -2px 2px 15px brown;
                    }
                    .google:hover{
                        display: flex;
                        box-shadow: -2px 2px 15px brown;
                    }
                }

            }
        }
}

@media (max-width: 800px) {
    .container-empresa{
        .container-sobre-nos{
            .simbolos{
                .html, .css, .bd, .js, .nuvem{
                    display: none;
                }


                h1{
                    font-size: 22px;
                }
            }
        }

        .sobre-nos{
            display: flex;
            font-family: "Roboto";
            font-weight: 400;
            align-items: center;
            justify-content: center;
    
            .informacoes{
                display: flex;
                font-family: "Roboto";
                font-weight: 400;    
                justify-content: center;
                align-items: center;
                flex-direction: column;
                gap: 20px;
    
                div{
                    width: 320px;
                    font-size: 15px;
                }
            }
        }
    
        .componente-3{
            margin-top: 30px;
            .container-propostas{
                display: flex;
                font-family: "Roboto";
                background: linear-gradient(#000000, #262626, #666666);
                color: white;
                justify-content: center;
                align-items: center;
                padding: 50px;
    
                gap: 30px;
                flex-direction: column;
    
                .cartoes{
                    display: flex;
                    flex-direction: column;
                    gap: 15px;


                    .card{
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        gap: 15px;
    
                        p{
                        width: 350px;
                        text-align: center;
                        font-size: 15px;
                        }
                        img{
                            width: 80px;
                        }
                    }
                }
            }
        }
        .feedback{
            display: flex;
            justify-content: center;
            margin-top:20px ;
            flex-direction: column;
            align-items: center;
            gap: 20px;
            width: 100%;

    
            .container-feed{
                display: flex;
                flex-wrap: nowrap;
                width: 100%; 
                gap: 20px;
                justify-content: start;
                overflow-x: auto;
            }
            .titulo{
                display: flex;
                justify-content: center;
            }
    
            .card{
                display: flex;
                min-width: 80%;
                flex-direction: column;
                padding: 20px;
                gap: 15px;
                border: 1px solid #8B8B8B;
                margin-left: 5%;
    
    
                .local{
                    display: flex;
                    flex-direction: column;
    
                    .nome{
                        display: flex;
                        font-family: "Roboto";
                        font-weight: 600;
                        
                    }
                }
            }
            
            h2{
                font-family: "Roboto";
            }
        }
    
            .rodapé{
                display: flex;
                margin-top:20px ;
                background-color: #1E1E1E;
                color: #ffffff;
    
                font-family: "Roboto";
                font-weight: 400;
    
                padding: 30px;
                justify-content: space-between;

                gap: 40px;
    
    
                .info-contato{
                    display: flex;
                    margin-left: -10px;
                    flex-direction: column;
                    gap: 15px;
                }
    
                .plataformas{
                    display: flex;
                    flex-direction: column;
                    gap: 20px;
    
                    .imagens{
                        display: flex;
                        gap: 5px;
                    }
                }
            }
    
    }

}
